<h1>Spiderpig</h1>

<h2>Go Wildcats</h2>

<p>Minnesota Vikings Suck</p>

<% tacos = ["carnitas", "avocado", "fish"] %>

<p>
  there are so many tacos on taco tuesday: <%= tacos.length %>
</p>


<ul>
  <li>#{tacos[0]}</li>
  <li>#{tacos[1]}</li>
  <li>#{tacos[2]}</li>
</ul>

<h3><b>I LOVE COFFEE</b></h3>
